<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Une grenouille sautant sur la grille infinie à deux dimensions des nombres entiers est représentée par un 4-tuple de la forme <code>{% if is_js %}[x, y, dx, dy]{% else %}(x, y, dx, dy){% endif %}</code> où <code>x, y</code> est la position de départ de la grenouille au temps <code>t = 0</code>, et <code>dx, dy</code> est son vecteur de direction constant pour chaque saut. Le temps avance par pas entiers discrets de sorte que chaque grenouille effectue un saut à chaque tic-tac de l'horloge. 
</p>

<p style="text-align: justify;">
    Étant donné deux grenouilles <code>frog1, frog2</code>, qui se trouvent initialement sur des cases différentes, indiquez le moment où les deux grenouilles sautent sur la même case. Si ces deux grenouilles ne sautent jamais dans la même case au même moment, cette fonction devrait retourner <code>{% if is_js %}null{% else %}None{% endif %}</code>.
</p>

<p style="text-align: justify;">
    Examinons l'exemple suivant <code>{% if is_js %}[0, 0, 0, 2], [0, 10, 0, 1]{% else %}(0, 0, 0, 2), (0, 10, 0, 1){% endif %}</code>. <code>X</code> les 's' sont égaux et ne changent pas (<code>dx1 == dx2 == 0</code>), nous pouvons donc les ignorer.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}frogs-collision.svg" alt="example" style="max-height: 200px"/>
</p>

<p style="text-align: justify;">
    Votre fonction ne doit contenir aucune boucle, mais le résultat doit être calculé à l'aide d'instructions conditionnelles et de l'arithmétique des nombres entiers.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Deux tuples de quatre entiers <span>{% if is_js %}number{% else %}int{% endif %}</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier ou {% if is_js %}null{% else %}None{% endif %}. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>La mission est extraite de <span>Python CCPS 109</span>. Elle est enseignée à <span>Ryerson Chang School of Continuing Education</span> par <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>